.App {
  text-align: center;
}
.main {
  display: flex;
  padding: 100px;
  height: 100px;
  place-items: center;
}
.btn {
  background-color: crimson;
  color: whitesmoke;
  height: 30px;
  width: 50px;
  margin: auto;
  border-radius: 5px;
}
.content {
  box-shadow: 5px 5px 40px rgba(128, 128, 128, 0.295);
  border-radius: 15px;
  background-color: transparent;
  padding: 0px 30px;
  height: 200px;
  width: 90%;
  margin: 0% 10%;
}
